<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
    <!-- JS scrip -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--her kan en endre ting for still pungt.-->
    <title>fuck you big boy keep stealing my dog</title>
    <link rel="stylesheet" href="/nettside_hlrdukke/css/style.css">
    <!--Her for å kunne presentere daten i det hele tatt. dette kan bli finere.-->
</head>
<body class="maria">

<nav  class = "navbar navbar-expand-ig navbar-dark bg-dark">
    <a href = "https://shifthyperloop.com/"> god nettside som ikke trenger oppdatering</a>
</nav>
<h1 class="pretty">hei</h1>
<h2>kos går det</h2>
<h3> hei you do you have a boyfreind?</h3>

<!--mr-auto gjør noe med størrelse og orientering. -->
<ul class="gay navbar-nav mr-auto">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>1,2,3,4,3,455,6,7,</li>
    <li>y68tuultutul</li>
</ul>
<ol>
    <li> 32</li>
    <li>1</li>
</ol>
<ol class="gay">
    <li>r</li>
    <li>e</li>
    <li>e</li>
    <li>e</li>
    <li>e</li>
    <li>e</li>
</ol>

<!--her kommer dataen ut-->
<ul class="gay">
    {% for variabel in all_sensor_data %}
       <li>
           {{variabel}}
       </li>
    {% endfor %}
    
    </ul>

<footer></footer>
<img src="../images/gullmedalje.png" alt="Gullmedalje" width="50" height="60">
</body>
</html>